<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <!-- <link rel="shortcut icon" href="https://www.clipartmax.com/png/middle/47-477493_blue-dot-clip-art-at-clker-blue-dot-icon-png.png"> -->
  <title>Mine for Change</title>
</head>

<body>
  <header>
    <h1>Mine for Change</h1>
    <h2>Support a cause by donating CPU cycles.</h2>
  </header>
  <section class="cta">
<!--Dropdown Menu-->
    <form class="form-inline" method="POST" action="/">
      <div class="form-group">
        <div class="input-group">
          <select name="org_select" class="select-css">
            <br>
            {% for o in organizations %}
              <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
          </select>
<!--Dropdown Menu-->
        </div>
      </div>
<!--Start Button-->
      <br>
      <button type="submit" class="block">{{ button_name }}</button>
<!--Start Button-->
      </div>
    </form>
    {% if status == "MINING - Keep this page open" %}
      <br>
      <div class="title_lower">Monero Address:</div>
      <code>{{ address }}</code>
    {% endif %}
  </section>
  <main>
    <section>
<!--Status Line-->
      <div id="block_container">
      <div id="block1" class="status_title">Status: </div>
      {% if status == "MINING - Keep this page open" %}
        <div id="block2" class="mining">{{ status }}</div>
      {% else %}
        <div id="block2" class="not_mining">{{ status }}</div>
      {% endif %}
      <br>
      <br>
<!--Status Line-->
      <div class="title">What is Mine for Change?</div>
      <p>
        Mine for Change is project to raise funds in the form
        of cryptocurrency, for various non-profit and charity organizations.
      </p>

      <p>
        Through the cummulative impact of volunteering users, great support
        and change can be made. As long as this site is open in a tab, or window
        of your device, you are contributing to your selected cause.
      </p>
    </section>
    <section>
      <div class="title">
        How do I use this?
      </div>
      <p>
        Select an organization of your choice from the dropdown menu above. Click the
        start button.
      </p>
      <p>
        <b><u>By clicking the start button you agree to allow this site to use your computer
        for mining cryptocurrency</u></b>
      </p>
      <p>
        That's it! You are now helping to contribute to your chosen organization.
      </p>
      <h3>Be sure to keep this tab/window open to keep contributing.</h3>
      <p>
      You may chose a new organization at any time by selecting a new value, and pressing submit again.
      </p>
    </section>
    <section>
      <div class="title">
        How does this work?
      </div>
      <p>
        When you select the organization of your choice, and click start, code running on
        the page is able to talk to your device, and tell it to a portion of its computing
        power to interact with the block chain. This is called "mining."
      </p>
      <p>
        The block chain is a public ledger of past cryptocurrency transactions.
        Through "mining," your computer helps organize this ledger in such a way
        that ensures the fidelity and legitimacy of these transactions.
      </p>
      <p>
        In exchange for helping with this process, your computer is awarded a new portion
        of a cryptocurrency. This portion is then sent to a receiving "addreses", which is
        the random sequence of numbers and letters which will display on the screen after
        pressing "Start."
      </p>
      <p>
        For more detailed information head over to the <a target="_blank" href="https://en.bitcoin.it/wiki/Main_Page">Bitcoin wiki</a>.
        While this site does not mine Bitcoin, the info here is general, and applicable for this case.
      </p>
    </section>
    <section>
      <div class="title">
        My computer is getting a bit warm, is this normal?
      </div>
      <p>
        Yes. Mining is intentionally designed to be resource-intensive and difficult so that
        the number of blocks found each day by miners remains steady.
      </p>
    </section>
    <section>
      <div class="title">
        How can I trust this site?
      </div>
      <p>
        Currently, this is a small project, with a singular address registered to the creators
        of the site. We pledge to donate any generated funds to the corresponding organizations -
        however also understand that there is no way for a user to verify this.
      </p>
      <p>
        We are currently looking to get in touch with official representatives of such various
        organizations; if you are an employee of such a company, please send us an email at the
        contact below.
      </p>
    </section>
    <section>
      <div class="title">
        How can I help?
      </div>
      <p>
        We're always trying to expand the number of organizations supported by this project.
        If you are a representative of a company and would like to have your cause be supported
        by this site, please reachout to us at <a href="mailto:email@email.com">email@email.com</a>.
      </p>
      <p>
        Alternatively, submit a pull request via the <a href="https://github.com/andrewcchu/support_miner/">repo</a>
        to have your organization added.
      </p>
      <br>
      <br>
      <br>
    </section>

    <footer>
      <p>Authors: </p>
      <p>Hege Refsnes | John Doe</p>
    </footer>

  </main>
</body>
</html>
